body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  overflow: hidden;
}
.container {
  background: white;
  max-width: 250px;
  margin: auto;
  border-radius: 6px;
}
img {
  margin-top: 10px;
  width: 64px;
  height: 64px;
}

.close-button {
  position: absolute;
  padding: 5px 10px;
  top: 0px;
  right: 1px;
  background-color: #f44336;
  color: white;
  border: none;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}

.close-button:hover {
  background-color: #d32f2f;
}

.drag-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-app-region: drag;
  background-color: #ececec; /* или другой цвет */
  padding: 6px 10px;
  height: 20px;
}

.title {
  font-size: 14px;
  color: black;
}

.close-button {
  -webkit-app-region: no-drag;
  background: none;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  padding: 0 6px;
}

.no-drag {
  -webkit-app-region: no-drag;
}
